---
interface Props {
	href?: string;
}

const { href } = Astro.props;
---

<li>
    <a href={href} class="flex gap-4 text-textprimary hover:text-white items-center py-3 font-medium transition duration-300">
        <slot/>
    </a>
</li>